body {
  padding: 1em;
  line-height: 1.5;
  color: #2C6F7F;
  width: 98%;
  background-color: #3584B2;
  }
}

main {
  margin: auto;
  width: 98%;
}

address {
  display: inline-block;
}

hr {
  margin: 1em;
  width: 80%;
}

img {
  max-width: 100%;
}

p {
  font-size: 1em;
}

a, a:link, a:active {
  text-decoration: none;
  color: #59737F;
}

a:hover, a:focus {
  color: #FFF565;
}

a:visited {

}

ul {
  text-align: center;
  padding: 0;
}

header {
  width: 98%;
}

footer {
  text-align: center;
}
