/* TODO: Give the site header a nice background color, from your selected color scheme. */

.site-header {
  background: #89C5E8;
  position: relative;
  border: 3px solid #51A4CC;
}
.social li {
  list-style: none;
}

.clearfix {
  text-align: center;
}

#about {
  background: #89C5E8;
  border: 3px solid #51A4CC;
  margin-top: 5px;
  text-align: center;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 5px;
}

.author-stats, #about li {
  list-style: none;
}

.project-box, #footer-stats {
  background: #89C5E8;
  border: 3px solid #51A4CC;
  margin-bottom: 5px;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  font-family: 'Josefin Sans', sans-serif;
}
.youngdev {
  font-family: 'Josefin Sans', sans-serif;
}

.project-header, .stat-header {
  font-family: 'Lobster', cursive;
}

.social {
  position: absolute;
  right: 0;
  top: -4%;
  padding: 0;
  font-size: 5vmin;
  margin-right: 0.5em;
}

.heading-group-h1 {
  padding: 0 0 .2em 1em;
  width: 98%;
  text-align: center;
  position: relative;
}

.icon-menu {
  font-size: 2em;
  float: right;
  margin-top: 0.67em;
  margin-right: 0.67em;
}

.main-nav {
  padding: 0.1em;
  text-align: center;
}

.main-nav ul {
  display: none;
  list-style: none;
  padding: 0;
  clear: both;
}
/*clear both makes its so it clears the elements that are floating right or left*/

.main-nav:hover ul {
  display: block;
}

.main-nav li {
  margin-right: .4em;
  font-size: 1.5em;
  padding: .5em .2em;
  font-family: 'Lobster', cursive;
  /*border-bottom: 1px solid #ccc;*/
}

#about li {
  font-family: 'Josefin Sans', sans-serif;
}

#filters {
  padding: 0;
  list-style: none;
}

.header {
  font-family: 'Lobster', cursive;
}

.template {
  display: none;
}

.byline a {
  font-weight: bold;
  text-decoration: none;
}


@media only screen and (min-width: 640px) {
  .icon-menu {
    display: none;
  }
  .main-nav ul {
    display: block;
    width: 100%;
  }
  .main-nav li {
    display: inline-block;
    padding: 0.5em 0.8em;
  }
}
